.title-span-container-aboutus {
    display: block;
    text-align: center;
    margin-top: 70px;
}

.photos-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 210px;
    margin-left: 5%;
    margin-top: 100px;
    gap: 10px;
    @media (width < 450px) {
        width: 100%;
        height: 130px;
        margin-left: 0px;
    }
}

.photo1 {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    z-index: 1;
}

.first-photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.photo2 {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    border-radius: 100%;
    z-index: 1;
}

.second-photo {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.photo3 {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    border-radius: 100%;
    z-index: 2;
}

.third-photo {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}