

.combo-selection {
    display: block;
    position: relative;
    margin-top: 10px;
    height: 34px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;   
}

.combo-selection-bev {
    display: block;
    position: relative;
    margin-top: 30px;
    height: 34px;
    width: 410px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border-color: red; 
}

.combo-selection-bev:hover {
    cursor:pointer;
    background-color: #fffad7;
    color: red;
}

.combo-selection-lomo {
    display: block;
    position: relative;
    margin-top: 10px;
    height: 34px;
    width: 410px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border-color: red;  
}

.combo-selection-lomo:hover {
    cursor:pointer;
    background-color: #fffad7;
    color: red;
}

.combo-selection:hover {
    background-color: rgba(30, 131, 214, 0.2);
    color: white;
}

.combo-lomo-container {
    position: absolute;
    margin-top: 100px;
    margin-left: 0px;
}

.combo-beverage-container {
    display: block;
    position: absolute;
    margin-top: 170px;
    margin-left: 0px;
    
}


.combo-french-fries {
    display: block;
    position: absolute;
    /* position: absolute; */
    margin-top: 220px;
    margin-left: 240px;
}

.combo-lomoquantity-container {
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left: 0px
}

.combo-lomo-quantity {
    display: block;
    border: none;
    border-bottom: 1px solid red;
    height: 27px;
    width: 60px;
    margin-top: 10px;
    margin-left: 0px;
}

.combo-add {
    display: flex;
    position: absolute;
    width: 45px;
    height: 45px;
    background: url("/add-button.png");
    background-size: contain;
    border-radius: 7px;
    margin-top: 310px;
    margin-left: 180px;
    border: none;
}

.combo-add:hover {
    cursor: pointer;
    transform: scale(1.20)
}

.combo-size {
    margin-left: 67%;
    margin-top: 10px;
}

.size {
    display: block;
    position: relative;
    margin-top: 10px;
    margin-left: 0px;
    height: 34px;
    width: 143px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border-color: red;
}

.size:hover {
    cursor:pointer;
    background-color: #fffad7;
    color: red;
}

.added-items-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: absolute;
    margin-left: -200px;
    margin-top: 825px;
}

.added2-item-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: absolute;
    margin-left: 00px;;
    margin-top: 825px;
}

.quantity-error {
    position: absolute;
    color: red;
    font-size: 14px;
    margin-top: 55px;
    margin-left: 0px;
    text-shadow: none;

}