.modal-main-container-open {
    position: absolute;
    width: 60%;
    height: 220px;
    /* border: 1px solid black; */
    border-radius: 7px;
    margin-top: 40%;
    margin-left: 20%;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 100;
    background-color: #AD2007;
}

.modal-text-title {
    color: white;
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 500;
}

.modal-text {
    color: white;
    font-family: "barlow semi condensed";
}

.modal-btn {
    width: 60%;
    height: 17%;
    margin-top: 15px;
    border: none;
    border-radius: 7px;
    background-color: #E9D134;
    color: #AD2007;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 500;
}

