.modal-main-container-open {
    position: absolute;
    width: 60%;
    height: 220px;
    /* border: 1px solid black; */
    border-radius: 17px;
    margin-top: 40%;
    margin-left: 20%;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 100;
    /* background-color: #AD2007; */
    background-color: black;
    @media (width > 450px) {
        width: 20%;
        margin-top: 10%;
        margin-left: 40%;
        height: 20%;
    }
}

.modal-text-title {
    /* color: white; */
    color: #AD2007;
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 500;
}

.modal-text {
    /* color: white; */
    color: #AD2007;
    font-family: "barlow semi condensed";
}

.modal-btn {
    width: 60%;
    height: 17%;
    margin-top: 15px;
    border: none;
    border-radius: 7px;
    background-color: #E9D134;
    color: #AD2007;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 500;
}

.modal-btn:hover {
    cursor: pointer;
}

