.form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-top: 0px;
    width: 100%;
    min-height: 3000px;
    /* border: 1px solid black; */
    overflow: hidden;
    /* border-radius: 20px; */
    /* background-color: white; */
    /* background-image: url("watermark-background.jpg"); */
    @media (width < 450px) {
        width: 100%;
        /* margin-top: 50px; */
        margin-left: 0%;
        box-shadow: none;
        /* max-height: 120%; */
        min-height: 4200px;
        /* border-radius: 5px; */
    }
}

.order-form {
    margin-top: 0px;
    position: relative;
    display: block;
    gap: 0px;
    color: white;
    text-shadow: 1px 1px 2px red;
    width: 100%;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 7px;
    padding: 15px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    @media (width < 450px) {
        width: 92.5%;
        margin-top: -80px;
        margin-left: 0px;
        border-radius: 5px;
        border: none;
        background: transparent;
    }
}

.submit-button-form {
    width: 30%;
    height: 35px;
    border: none;
    background-color: #E9D134;
    color: #AF2007;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 50px;
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 40px;
    margin-top: 230px;
    margin-left: 410px;
    border: none;
    border-radius: 5px;
    outline: 1px solid red;
    position: relative;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: rgba(30, 214, 33, 1);
    color: white;
}


.name-input {
    display: flex;
    margin-top: 10px;
    height: 40px;
    width: 100%;
    border: transparent;
    background: transparent;
    border-bottom: 1px solid black;
    /* outline: none; */
    @media (width < 450px) {
        width: 90px;
    }
}

.name-input:focus {
    outline-color: red;
}

.lastname-input {
    display: flex;
    margin-top: 10px;
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    @media (width < 450px) {
        width: 90px;
    }
}

.lastname-input:focus {
    outline-color: red;
}

.delivery-input {
    display: flex;
    margin-top: 10px;
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    @media (width < 450px) {
        width: 160px;
    }
}

.delivery-input:focus {
    outline-color: red;
}

.city-input {
    margin-top: 10px;
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    @media (width < 450px) {
        width: 75px;
    }
}

.city-input:focus {
    outline-color: red;
}

.state-input {
    margin-top: 10px;
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    @media (width < 450px) {
        width: 75px;
    }
}

.state-input:focus {
    outline-color: red;
}

.contact-number {
    margin-top: 10px;
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    @media (width < 450px) {
        width: 90px;
    }
}

.contact-number:focus {
    outline-color: red;
}

.combo-btns-container {
    width: 80vW;
    display: flex;
    flex-direction: row;
}

.combo-btn {
    display: flex;
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    /* margin-left: 20px; */
    width: 150px;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 100px;
    height: 50px;
    border: none;
    /* border: 1px solid black; */
    /* background-color: rgb(253, 230, 21); */
    color: rgb(200, 0, 0);
    /* border-radius: 7px; */
    @media (width < 450px) {
        /* display: block; */
        /* position: relative; */
        width: 60%;
        margin-bottom: 0px;
        font-weight: 500;
        /* margin-left: 20%; */
    }
}

.combo-btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    /* margin-left: 400px; */
    width: 150px;;
    font-size: 18px;
    font-family: "Montserrat";
    height: 50px;
    border: none;
    /* border: 1px solid black; */
    /* background-color: rgb(253, 230, 21); */
    color: rgb(200, 0, 0);
    /* border-radius: 7px; */
    /* right: 100px; */
    @media (width < 450px) {
        /* display: block; */
        width: 60%;
        margin-bottom: 0px;
        font-weight: 500;
        /* margin-top: 50px; */
        /* margin-left: 20%; */
    }
}

.combo-btns-underline {
    display: flex;
    width: 80vW;
    height: 3px;
    background-color: #dbdbdb;
}

.underline {
    width: 50%;
    height: 3px;
    background-color: #dbdbdb;
}

.underline1 {
    width: 50%;
    height: 3px;
    background-color: #E9D134;
}

.underline2 {
    width: 50%;
    height: 3px;
    background-color: #E9D134;
}

.combo-btn2:hover {
    cursor:pointer;
    opacity: 0.85;
}

.combo-btn:hover {
    cursor:pointer;
    opacity: 0.85;
}

.type-container {
    position: relative;
    display: flex;
    /* flex-direction: row; */
    /* margin-top: 40px; */
    /* justify-content: center; */
    width: 100%;
    margin-right: 0%;
    height: 370px;
    border-radius: 7px;
}

.choosecombo-text-container {
    display: flex;
    font-family: "Montserrat";
    @media (width < 450px) {
        margin-top: 60px;
    }
}

.choosecombo-text {
    display: block;
    position: relative;
    margin-top: 35px;
    margin-left: 10px;
    /* font-family: "Dancing Script"; */
    /* text-shadow: 1px 1px 2px red; */
    font-size: 50px;
    font-family: "Montserrat";
    @media (width < 450px) {
        font-size: 40px;
    }
}



.title-form {
    font-size: 50px;
    margin-top: 45px;
    margin-left: 10px;
    @media (width < 450px) {
        font-size: 35px;
        margin-top: 9px;
        margin-left: 10px; 
    }
}


.testing {
    display: flex;
    position: relative;
    color: black;
    gap: 100px;
    margin-top: 800px;
}

.added-items-container {
    display: flex;
    flex-direction: row;
    position: relative;
    color: black;
    p {
        display: contents;
    }
} 

.added2-items-container {
    color: black;
    p {
        display: contents;
    }
}

.form-fields {
    position: relative;
    margin-top: 0px;
    @media (width < 450px) {
        margin-top: 75px;
    }
}

.personal-info {
    display: flex;
    gap: 40px;
    width: 100%;
    @media (width < 450px) {
        gap: 20px;
        position: relative;
    }
}

.delivery-info {
    display: flex;
    margin-top: 30px;
    @media (width < 450px) {
        /* margin-left: 10%; */
    }
}


.add-to-cart {
    height: 30px;
}

.ordertype-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 50px;
    @media (width < 450px) {
        gap: 100px;
    }
}

.pickup-order {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 35px;
    border: none;
    background-color: #E9D134;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(200, 0, 0);
    border-radius: 10px;
    padding: 20px;
    margin-top: 0px;
    font-size: large;
    font-family: "Montserrat";
    font-weight: 500;
    @media (width < 450px) {
        margin-left: 0%;
    }
}
.pickup-order:hover {
    cursor: pointer;
    opacity: 0.9;
}

.delivery-order {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 35px;
    border: none;
    background-color: #E9D134;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(200, 0, 0);
    border-radius: 10px;
    padding: 20px;
    margin-top: 0px;
    font-size: large;
    font-family: "Montserrat";
    font-weight: 500;
    @media (width < 450px) {
        margin-left: 0%;
    }
}
.delivery-order:hover {
    cursor: pointer;
    opacity: 0.9;
}

.cart-icon {
    /* position: absolute; */
    width: 3%;
    z-index: 4;
    /* margin-left: 50%; */
    bottom: 40px;
    @media (width < 450px) {
        width: 9%;
        bottom: 40px;
        margin-top: 20px;
        /* margin-left: 45.5%; */
    }
}
.cart-icon:hover {
    cursor: pointer; 
    opacity: 0.9;
}

.cart-text {
    /* margin-left: 50%; */
    color: white;
    font-family: "Barlow semi condensed";
    font-weight: 500;
    /* position: absolute; */
    z-index: 4;
    bottom: 0px;
    @media (width < 450px) {
        color: black;
        font-family: "Barlow semi condensed";
        font-weight: 500;
        /* position: absolute; */
        z-index: 4;
        /* margin-left: 44.5%; */
        bottom: 0px;
    }
}

.form-image {
    width: 100%;
    height: 100%;
    z-index: 3;
    margin-top: -99px;
}

.top-container2 {

    width: 102%;
    height: 500px;
    position: relative;
    margin-top: -00px; 
    background-image: url('/food-menu.png');
    background-size:cover;
    background-position: center;
    overflow: hidden;
    padding: 1px;

    @media (width < 450px) {
        width: 102.7%;
        height: 650px;
        /* position: relative; */
        /* margin-top: -100px;  */
        background-image: url('/food-menu.png');
        background-size:cover;
        /* background-position: center; */
        /* overflow: hidden; */
        /* align-content: center; */
    }
}

.sideborder-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: -100%;
    z-index: -1;
}

.side-border {
    /* position: absolute; */
    width: 100%;
    height: 400px;
    margin-top: 0px;
    opacity: 0.7;
    /* margin-left: -90%; */
    /* z-index: 1; */
}

.sideborder-right-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 100%;
    /*margin-right: 100%; */
    z-index: -1;
    /* border: 1px solid black; */
    /* margin-top: 1000px; */
    margin-top: -12px;
}

.side-border-right {
    /* position: absolute; */
    /* width: 100%; */
    height: 400px;
    margin-top: 0px;
    opacity: 0.7;
}