.form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-top: 0px;
    width: 100%;
    min-height: 3700px;
    overflow: hidden;
    @media (width < 450px) {
        width: 100%;
        margin-left: 0%;
        box-shadow: none;
        min-height: 4000px;
        max-height: 5000px;
    }
}

.order-form {
    margin-top: 40px;
    position: relative;
    display: block;
    gap: 0px;
    /* color: white; */
    text-shadow: 1px 1px 2px red;
    width: 100%;
    background-color: transparent;
    border-radius: 7px;
    padding: 15px;
    @media (width < 450px) {
        width: 92.5%;
        margin-top: -40px;
        margin-left: 0px;
        border-radius: 5px;
        border: none;
        background-color: transparent;
    }
}

.submit-button-form {
    width: 30%;
    height: 40px;
    border: none;
    background-color: #E9D134;
    color: #AF2007;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    margin-left: 0%;
    margin-top: 50px;
}
.submit-button-form:hover {
    cursor: pointer;
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 40px;
    margin-top: 230px;
    margin-left: 410px;
    border: none;
    border-radius: 5px;
    outline: 1px solid red;
    position: relative;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: rgba(30, 214, 33, 1);
    color: white;
}


.name-input {
    display: flex;
    margin-top: 10px;
    height: 40px;
    width: 100%;
    border: transparent;
    background: transparent;
    border-bottom: 1px solid black;
    @media (width < 450px) {
        width: 90px;
    }
}

.name-input:focus {
    outline-color: red;
}

.lastname-input {
    display: flex;
    margin-top: 10px;
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    @media (width < 450px) {
        width: 90px;
    }
}

.lastname-input:focus {
    outline-color: red;
}

.delivery-input {
    display: flex;
    margin-top: 10px;
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    @media (width < 450px) {
        width: 160px;
    }
}

.delivery-input:focus {
    outline-color: red;
}

.city-input {
    margin-top: 10px;
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    @media (width < 450px) {
        width: 75px;
    }
}

.city-input:focus {
    outline-color: red;
}

.state-input {
    margin-top: 10px;
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    @media (width < 450px) {
        width: 75px;
    }
}

.state-input:focus {
    outline-color: red;
}

.contact-number {
    margin-top: 10px;
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    @media (width < 450px) {
        width: 90px;
    }
}

.contact-number:focus {
    outline-color: red;
}

.combo-btns-container {
    width: 80vW;
    display: flex;
    flex-direction: row;
}

.combo-btn {
    display: flex;
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 0%;
    width: 100%;
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: 100px;
    height: 50px;
    border: none;
    color: rgb(200, 0, 0);
    @media (width < 450px) {
        width: 60%;
        margin-bottom: 0px;
        font-size: 18px;
        font-weight: 500;
    }
}

.combo-btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 0%;
    width: 100%;
    font-size: 25px;
    font-family: "Montserrat";
    height: 50px;
    border: none;
    color: rgb(200, 0, 0);
    @media (width < 450px) {
        width: 60%;
        margin-bottom: 0px;
        font-weight: 500;
        font-size: 18px;
    }
}

.combo-btns-underline {
    display: flex;
    width: 80vW;
    height: 3px;
    background-color: #dbdbdb;
}

.underline {
    width: 50%;
    height: 3px;
    background-color: #dbdbdb;
}

.underline1 {
    width: 50%;
    height: 3px;
    background-color: #E9D134;
}

.underline2 {
    width: 50%;
    height: 3px;
    background-color: #E9D134;
}

.combo-btn2:hover {
    cursor:pointer;
    opacity: 0.85;
}

.combo-btn:hover {
    cursor:pointer;
    opacity: 0.85;
}

.type-container {
    position: relative;
    display: flex;
    width: 100%;
    margin-right: 0%;
    height: 370px;
    border-radius: 7px;
}

.choosecombo-text-container {
    display: flex;
    font-family: "Montserrat";
    @media (width < 450px) {
        margin-top: 60px;
    }
}

.choosecombo-text {
    display: block;
    position: relative;
    margin-top: 35px;
    margin-left: 10px;
    font-size: 50px;
    font-family: "Montserrat";
    @media (width < 450px) {
        font-size: 40px;
    }
}



.title-form {
    font-size: 50px;
    margin-top: 45px;
    margin-left: 10px;
    @media (width < 450px) {
        font-size: 35px;
        margin-top: 9px;
        margin-left: 10px; 
    }
}


.testing {
    display: flex;
    position: relative;
    color: black;
    gap: 100px;
    margin-top: 800px;
}

.added-items-container {
    display: flex;
    flex-direction: row;
    position: relative;
    color: black;
    p {
        display: contents;
    }
} 

.added2-items-container {
    color: black;
    p {
        display: contents;
    }
}

.form-fields {
    position: relative;
    margin-top: 0px;
    @media (width < 450px) {
        margin-top: 75px;
    }
}

.personal-info {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    @media (width < 450px) {
        gap: 20px;
        position: relative;
    }
}

.delivery-info {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    @media (width < 450px) {
        /* margin-left: 10%; */
    }
}


.add-to-cart {
    height: 30px;
}

.ordertype-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
    @media (width < 450px) {
        gap: 100px;
    }
}

.pickup-order {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 35px;
    border: none;
    background-color: #E9D134;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(200, 0, 0);
    border-radius: 10px;
    padding: 20px;
    margin-top: 0px;
    font-size: large;
    font-family: "Montserrat";
    font-weight: 500;
    @media (width < 450px) {
        margin-left: 0%;
    }
}
.pickup-order:hover {
    cursor: pointer;
    opacity: 0.9;
}

.delivery-order {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 35px;
    border: none;
    background-color: #E9D134;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(200, 0, 0);
    border-radius: 10px;
    padding: 20px;
    margin-top: 0px;
    font-size: large;
    font-family: "Montserrat";
    font-weight: 500;
    @media (width < 450px) {
        margin-left: 0%;
    }
}
.delivery-order:hover {
    cursor: pointer;
    opacity: 0.9;
}

.cart-icon {
    width: 3%;
    z-index: 4;
    bottom: 40px;
    margin-top: 30px;
    @media (width < 450px) {
        width: 9%;
        bottom: 40px;
        margin-top: 20px;
    }
}
.cart-icon:hover {
    cursor: pointer; 
    opacity: 0.9;
}

.cart-text {
    color: black;
    font-family: "Barlow semi condensed";
    font-weight: 500;
    z-index: 4;
    bottom: 0px;
    @media (width < 450px) {
        color: black;
        font-family: "Barlow semi condensed";
        font-weight: 500;
        z-index: 4;
        bottom: 0px;
    }
}

.form-image {
    width: 100%;
    height: 100%;
    z-index: 3;
    margin-top: -99px;
}

.top-container2 {

    width: 102%;
    height: 1000px;
    position: relative;
    margin-top: -00px; 
    background-image: url('/food-menu.png');
    background-size:contain;
    background-position: center;
    overflow: hidden;
    padding: 1px;

    @media (width < 450px) {
        width: 102.7%;
        height: 650px;
        background-image: url('/food-menu.png');
        background-size:cover;
    }
}

.sideborder-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: -100%;
    z-index: -1;
}

.side-border {
    width: 100%;
    height: 400px;
    margin-top: 0px;
    opacity: 0.7;
}

.sideborder-right-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 100%;
    z-index: -1;
    margin-top: -12px;
}

.side-border-right {
    height: 400px;
    margin-top: 0px;
    opacity: 0.7;
}

.span-text-form {
    font-size: 50px;
    font-weight: 600;
    background: #E9D134;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: "Montserrat";
    @media (width < 450px) {
      font-size: 35px;
    }
  }

  .delivery-charge-text {
    text-shadow: none;
    color: #AF2007;
    font-size: 17px;
    font-family: 'Barlow semi condensed';
  }

  .checkout-btn {
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 500px;
    width: 20%;
    /* margin-top: 30px; */
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #E9D134;
    color: rgb(200, 0, 0);
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 500;
    @media (width < 450px) {
        margin-top: 1200px;
        width: 30%;
    }
  }

  .checkout-btn:hover {
    cursor: pointer;
  }