.entire-body {
    width: 100%;
  }

  .test {
    display: flex;
    height: 300px;
    border: 1px solid white;
    border-radius: 7px;
    margin-top: 50px;
    color: white;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    font-size: x-large;
    background-image: url("src/assets/AdobeStock_134115811_Preview.jpeg");
  }

  .resena {
    display: flex;
    height: 250px;
    border: 1px solid white;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-top: 15px;
  }

.aboutus-title {
  font-family: "Dancing Script";
  text-shadow: 1px 1px 2px rgb(0, 162, 255);
  font-size: 45px;
  margin-top: -165px;
  margin-left: 170px;
}

.aboutus-text {
  width: 850px;
  font-size: 16px;
  margin-left: -600px;
  margin-top: 30px;
}