.entire-home-container {
  position: relative;
  width: 100%;
  background-image: url("watermark-background.jpg");
}

.aboutus-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  @media (width < 450px) {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
}

.entire-body {
    display: grid;
    position: relative;
    margin-top: 50px;
    grid-template-columns: 25% 50% 25%;
    width: 100%;
    @media (width < 450px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .title-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
    border: 1px solid red;
    border-radius: 7px;
    margin-top: 50px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    background-image: url("/AdobeStock_134115811_Preview.jpeg");
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    @media (width < 450px) {
      width: 100%;
      border-radius: 0px;
      border: none;
    }
  }

  .comments {
    display: flex;
    height: 250px;
    width: 50%;
    border: 1px solid red;
    border-radius: 7px;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-top: 60px;
    margin-left: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    @media (width < 450px) {
      margin-left: 0%;
      margin-top: 50px;
      width: 100%;
      border-radius: 0px;
      border: none;
    }
  }


.aboutus-container2 {
  display: flex;
  border: 1px solid red;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 7px;
  width: 100%;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 0px;
  background-image: url("/AdobeStock_134115811_Preview.jpeg");
  background-size: cover;
  @media (width < 450px) {
    width: 100%;
    border: none;
    border-radius: 0px;
  }
}



.aboutus-title {
  font-family: "Montserrat";
  text-shadow: 1px 1px 2px rgb(0, 162, 255);
  font-size: 45px;
  margin-top: 30px;
  margin-left: 0px;
}

.aboutus-text {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  width: 850px;
  font-size: 17px;
  font-family: "Montserrat";
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.aboutus-images-arg {
  border: 1px solid red;
  height: 300px;
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  @media (width < 450px) {
    width: 100%;
    margin-left: 0%;
    border-radius: 0px;
    border: none;
  }
}

.argentina-map {
  display: flex;
  position: relative;
  width: 450px;
  height: 400px;
  margin-top: -100px;
  margin-left: 40px;
  @media (width < 450px) {
    margin-top: 20px;
    width: 300px;
    height: 275px;
    margin-left: 60px;
  }
}

.map-comments-container {
  margin-bottom: 50px;
  display: flex;
  @media (width < 450px) {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 0px;
  }
}

.socialmedia-text-container {
  margin-top: 150px;
  font-family: "Montserrat";
  @media (width < 450px) {
    margin-top: 0px;
  }
}

.socialmedia-text {
  color: transparent;
  margin-left: 45%;
  margin-top: 70px;
  @media (width < 450px) {
    margin-left: 0%;
  }
}

.socialmedia-text2 {
  font-size: 50px;
  margin-left: 42%;
  margin-top: -10px;
  @media (width < 450px) {
    margin-left: 0%;
    font-size: 35px;
  }
}

.span-text {
  font-size: 50px;
  font-family: "Montserrat";
  background: linear-gradient(120deg, rgb(200, 0, 0), rgb(253, 230, 21));
  -webkit-background-clip: text;
  background-clip: text;
  /* font-weight: bold; */
  @media (width < 450px) {
    font-size: 35px;
  }
}

.video-container {
  border-radius: 10px;
  width: 100%;
  height: 700px;
  position: absolute;
  z-index: 1;
  margin-top: 107px;
  @media (width < 450) {
    margin-top: 00px;
  }
}

.video {
  display: flex;
  position: absolute;
  width: 100%;
  padding-top: 3px;
  @media (width< 450px) {
    margin-top: -49px; 
  }
}

.marco-video {
  position: relative;
  width: 100%;
  z-index: 2;
  @media (width < 450px) {
    margin-top: 0px;
  }
}

.marco-video-container {
  display: flex;
  position: relative;
  margin-top: 0px;
  padding-top: 0%;
  width: 100%;
  height: 700px;
  overflow: hidden;
  @media (width < 450px) {
    width:100%;
    height: 40vh;
    margin-top: -50px;
  }
}

.icon-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: rgb(253, 230, 21);
  gap: 20px;
  margin-top: 0px;
  margin-left: 0px;
  z-index: 2;
  width: 100%;
  @media (width < 450px) {
    height: 30px;
    margin-top: -18px;
  }
}

.face {
  cursor: pointer;
  width: 30px;
  margin-top: 0px;
  margin-left: 0%;
  z-index: 2;
  @media(width < 450px) {
    width: 20px;
  }
}

.location {
  cursor: pointer;
  width: 33px;
  margin-top: 0px;
  margin-left: 0%;
  z-index: 0;
  @media (width < 450px) {
    width: 23px;
  }
}


.order-now-home {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 80px;
  font-family: "Montserrat";
  font-size: xx-large;
  border: none;
  background-color: rgb(253, 230, 21);
  border-radius: 10px;
  margin-top: 90px;
  margin-left: 35%;
  color: rgb(200, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  @media (width < 450px) {
    width: 70%;
    margin-left: 15%;
  }
}

.link {
  width: 70%;
}

.order-now-home:hover {
  cursor: pointer;
  opacity: 0.85;
}

.our-location {
  margin-top: 100px;
  width: 100%;
}
