.entire-body {
    width: 100%;
  }

  .test {
    display: flex;
    height: 300px;
    border: 1px solid white;
    margin-top: 20px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: x-large;
  }

  .resena {
    display: flex;
    height: 250px;
    border: 1px solid white;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: x-large;
  }
