.menu-main-container {
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: -10px;
    /* display: flex; */
}

.first-foodmenu {
    width: 100%;
}

.left-menu-arrow {
    position: absolute;
    width: 15%;
    margin-top: 65%;
    opacity: 0.8;
}

.left-menu-arrow:hover {
    cursor: pointer;
}

.right-menu-arrow {
    position: absolute;
    width: 15%;
    margin-top: 65%;
    margin-left: -15%;
    opacity: 0.8;
}

.right-menu-arrow:hover {
    cursor: pointer;
}
