.menu-main-container {
    position: relative;
    width: 100%;
    height: 100px;
    /* display: flex; */
}

.first-foodmenu {
    width: 100%;
}

.left-menu-arrow {
    position: absolute;
    width: 22%;
    margin-top: 58%;
}

.left-menu-arrow:hover {
    cursor: pointer;
}

.right-menu-arrow {
    position: absolute;
    width: 22%;
    margin-top: 58%;
    margin-left: -20%;
}

.right-menu-arrow:hover {
    cursor: pointer;
}
