.menubar-container {
    /* display: block; */
    display: none;
    position: fixed;
    text-align: center;
    margin-top: 0px;
    /* border: 1px solid yellow; */
    height: 228px;
    border-radius: 7px;
    z-index: 100;
    width: 120px;
    /* margin-left: 250px; */
    /* right: -120px; */
    top: 0;
    transition: transform 3s ease-in-out;
    transform: translateX(100%);
    @media (width < 450px) {
        display: block;
        height: 100vh;
        width: 50%;
        /* right: -50%; */
        /* margin-left: 50%; */
        transform: translateX(100%);
    }
}

.menubar-container.is-visible {
    transform: translateX(0);
}

.menubar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
    border: 1px solid yellow;
    height: 33.3%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Montserrat";
    /* border-radius: 7px; */
}

