.navbar-container {
    background-color: black;
    display: inline-flex;
    width: 100%;
    justify-content: right;
    height: 125px;
    color: white;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    @media (width < 450px) {
        display: grid;
        width: 100%;
    }
}


.items-list {
    display: flex;
    position: relative;
    align-items:center;
    gap: 50px;
    justify-content: end;
    margin-right: 30px;
    margin-top: -4px;
    @media (width < 450px) {
        display: none;
    }
}


.item {
    display: inline-flex;
    list-style-type: none;
    color: rgb(200, 0, 0);
    font-size: 15px;
    margin-top: -11.5px;
    
}


.item-ordernow {
    display: inline-flex;
    list-style-type: none;
    color: rgb(253, 230, 21);
    font-size: 15px;
    margin-top: -11.5px;
}


/* .logo {
    position: relative;
    /* display: flex; */
    /* margin-left: 0px; */
    /* justify-content: center; */
    /* border-radius: 100%; */
    
    /* opacity: 0.9; */
    /* width: 100px; */
    
/* }  */


.home-container {
    border: 1px solid rgb(253, 230, 21);
    border-radius: 15px;
    background-color: rgb(253, 230, 21);
    height: 25px;
    width: 90px;
    margin-top: 15px;
    text-align: center;
}


.ordernow-container {
    border: 1px solid rgb(200, 0, 0);
    border-radius: 15px;
    background-color: rgb(200, 0, 0);
    height: 25px;
    width: 110px;
    margin-top: 15px;
    text-align: center;
}

.aboutus-container {
    border: 1px solid rgb(253, 230, 21);
    border-radius: 15px;
    background-color: rgb(253, 230, 21);
    height: 25px;
    width: 90px;
    margin-top: 15px;
    text-align: center;
}

.menubar {
    display: none;
    z-index: 100;
    /* position: relative; */
    @media (width < 450px) {
        display: inline-flex;
        width: 70px;
        height: 70px;
        margin-right: 20px;
        margin-top: 25px;
        cursor: pointer;
    }
}

/* .menubar-and-items-container {
    @media (width < 450px) {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
} */