.title-span-container {
    display: block;
}


.nocombo-mother-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    @media (width < 450px) {
        /* position: relative; */
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 50px;
    }
}


.nocombo-main-container {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height:fit-content;
    padding: 0px;
    padding-bottom: 30px;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    padding-top: 0px;
    text-align: center;
    margin-top: 0px;
    @media (width < 450px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        /* margin-left: 10px; */
        padding-left: 0px;
        padding-right: 0px;
    }
}

.nocombo-main-container-bev {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height:fit-content;
    padding: 0px;
    padding-bottom: 30px;
    padding-top: 0px;
    text-align: center;
    margin-top: 50px;
    @media (width < 450px) {
        /* position: absolute; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-top: 250px;; */
    }
}

.nocombo-sub-container-lomo {
     margin-top: 0px;
     margin-left: 10%;
     border-radius: 10px;
     width: 80%;
     height:fit-content;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 20%;
     @media (width < 450px) {
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        gap: 10%;
        margin-bottom: 0px;
        margin-left: 40px;
     }
}

.icon-item-lomo {
    width: 80px;
    height: 60px;
    margin-top: 25px;
}

.icon-item-fries {
    width: 80px;
    height: 60px;
    margin-top: 25px;
}

.icon-item-soda {
    width: 80px;
    height: 60px;
    margin-top: 25px;
}

.nocombo-add {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 50px;
    border-radius: 10px;
    border: none;
    /* background-color: rgb(253, 230, 21); */
    background-color: #E9D134;
    color: rgb(200, 0, 0);
    font-size: 20px;
    font-family: "Montserrat";
}
.nocombo-add:hover {
    cursor: pointer;
}

.nocombo-sub-container-fries {
    border-radius: 10px;
    /* position: relative; */
    width: 100%;
    height:fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    margin-top: 75px;
    margin-left: 0%;
    padding-left: 0px;
    @media (width < 450px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* grid-template-columns: none; */
        /* grid-template-rows: repeat(3, 1fr); */
        margin-top: 0px;
        width: 100%;
        margin-left: 40px;
        gap: 20%;
    }
}

.nocombo-title-span-container {
    /* margin-top: 100px */
    @media (width < 450px) {
        /* display: flex; */
        /* border: 1px solid black; */
        width: 110%;
        margin-left: 40px;
        /* display: relative; */
        /* position: absolute; */
        margin-top: 0px;
    }
}


.nocombo-title-span-container2 {
    /* margin-top: 100px */
    @media (width < 450px) {
        /* display: flex; */
        /* border: 1px solid black; */
        width: 110%;
        margin-left: 40px;
        /* display: relative; */
        /* position: absolute; */
        margin-top: 100px;
    }
}


.small-fries, .medium-fries, .large-fries {
    width: 80%;
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 10px;
    border-radius: 10px;
    background-color: white ;
    @media (width < 450px) {
        border-radius: 0px;
        border: none;
    }
}
.medium-fries, .large-fries {
    @media (width < 450px) {
        margin-top: 25%;
    }
}

.title3 {
    /* border: 1px solid black; */
    width: 100%;
    margin-left: 40px;
    color: black;
    font-size: 35px;
    margin-top: 0px;
    font-family: "Montserrat";
    
}