.title-span-container {
    display: block;
}


.nocombo-mother-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    @media (width < 450px) {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 50px;
    }
}


.nocombo-main-container {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height:fit-content;
    padding: 0px;
    padding-bottom: 30px;
    padding-top: 0px;
    text-align: center;
    margin-top: 0px;
    @media (width < 450px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0%;
    }
}

.nocombo-main-container-bev {
    border-radius: 10px;
    width: 100%;
    height:fit-content;
    padding: 0px;
    padding-bottom: 30px;
    padding-top: 0px;
    text-align: center;
    margin-top: 0px;
    
    @media (width < 450px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.nocombo-sub-container-bev {
    display: flex;
    width: 32%;
    margin-left: 33%;
    align-content: center;
    justify-content: center;
    @media (width < 450px) {
        width: 100%;
        margin-left: 0%;
    }
}

.small-bev {
    width: 80%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.nocombo-sub-container-lomo {
     margin-top: 0px;
     border-radius: 10px;
     width: 80%;
     height:fit-content;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 20%;
     @media (width < 450px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;
        margin-bottom: 0px;
     }
}

.icon-item-lomo {
    width: 80px;
    height: 60px;
    margin-top: 25px;
}

.icon-item-fries {
    width: 80px;
    height: 60px;
    margin-top: 25px;
}

.icon-item-soda {
    width: 80px;
    height: 60px;
    margin-top: 25px;
}

.nocombo-add {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #E9D134;
    color: rgb(200, 0, 0);
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 500;
}
.nocombo-add:hover {
    cursor: pointer;
}

.nocombo-sub-container-fries {
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    margin-top: 75px;
    margin-left: 0%;
    padding-left: 0px;
    @media (width < 450px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        width: 100%;
        gap: 20%;
    }
}

.nocombo-title-span-container {
    @media (width < 450px) {
        width: 100%;
        margin-top: 0px;
    }
}


.nocombo-title-span-container2 {
    @media (width < 450px) {
        width: 100%;
        margin-top: 0px;
    }
}


.small-fries, .medium-fries, .large-fries {
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-left: 60%;
    padding: 10px;
    border-radius: 10px;
    background-color: white ;
    @media (width < 450px) {
        width: 80%;
        margin-left: 0%;
        border-radius: 5px;
        border: none;
    }
}
.large-fries {
    /* margin-left: 0%; */
    width: 100%;
    @media (width < 450px) {
        width: 80%;
        margin-top: 30px;
        margin-left: 0%;
    }
}


.title3 {
    width: 100%;
    margin-left: 40px;
    color: black;
    font-size: 35px;
    margin-top: 0px;
    font-family: "Montserrat";
    
}

.small2, .medium2, .large2 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    margin-left: 20%;
    width: 100%;
    @media (width < 450px) {
        border-radius: 5px;
        width: 100%;
        margin-top: 30px;
        margin-left: 0%;
    }
}