/* .selection {
    display: block;
    height: 34px;
    width: 143px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border-color: red;
}

.selection:hover {
    cursor:pointer;
    background-color: #fffad7;
    color: red;
}


.lomo-container {
    position: absolute;
    margin-left: 66%;;
    margin-top: 20px;
}


.french-fries-nocombo {
    display: block;
    position: absolute;
    margin-top: 180px;
    margin-left: 66%;
}

.lomoquantity-container {
    position: absolute;
    margin-top: 20px;
    margin-left: 0px
}

.lomo-quantity {
    display: block;
    border: none;
    border-bottom: 1px solid red;
    height: 27px;
    width: 60px;
    margin-left: 0px;
}

.beverage-container {
    position: absolute;
    margin-top: 100px;
    margin-left: 66%;
    
}

.bevquantity-container {
    position: absolute;
    margin-top: 100px;
    margin-left: 0px;
}

.bev-quantity {
    display: block;
    border: none;
    border-bottom: 1px solid red;
    height: 27px;
    width: 60px;
    margin-left: 0px;
}

.add-nocombo {
    display: block;
    position: absolute;
    width: 45px;
    height: 45px;
    background: url("/add-button.png");
    background-size: cover;
    border-radius: 7px;
    margin-top: 310px;
    margin-left: 180px;
    border: none;
}

.add-nocombo:hover {
    cursor: pointer;
    transform: scale(1.20)
}

.selectionsize {
    display: block;
    margin-top: 0px;
    height: 34px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border-color: red;
}

.selectionsize:hover {
    cursor:pointer;
    background-color: #fffad7;
    color: red;
}

.size-bevcontainer {
    position: absolute;
    width: 100%;
    margin-top: 100px;
    margin-left: 115px;
}

.size-frenchfriescontainer {
    position: absolute;
    width: 100%;
    margin-top: 180px;
    margin-left: 115px;
}

.frenchfriesquantity-container {
    position: absolute;
    margin-top: 180px;
    margin-left: 0px
}

.frenchfries-quantity {
    display: block;
    border: none;
    border-bottom: 1px solid red;
    height: 27px;
    width: 60px;
    margin-left: 0px;
} */

.title-span-container {
    display: block;
}


.nocombo-mother-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    @media (width < 450px) {
        padding-left: 0px;
        padding-right: 0px;
    }
}


.nocombo-main-container {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height:fit-content;
    padding: 0px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    text-align: center;
    margin-top: 50px;
    @media (width < 450px) {
        margin-top: 50px;;
    }
}

.nocombo-main-container-bev {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height:fit-content;
    padding: 0px;
    padding-bottom: 30px;
    padding-top: 0px;
    text-align: center;
    margin-top: 50px;
    @media (width < 450px) {
        margin-top: 250px;;
    }
}

.nocombo-sub-container-lomo {
     margin-top: 75px;
     margin-left: 15%;
     border-radius: 10px;
     width: 70%;
     height:fit-content;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 20%;
     @media (width < 450px) {
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        gap: 20%;
        margin-bottom: 70px;
    
     }
}

.icon-item-lomo {
    width: 80px;
    height: 60px;
    margin-top: 25px;
}

.icon-item-fries {
    width: 80px;
    height: 60px;
    margin-top: 25px;
}

.icon-item-soda {
    width: 80px;
    height: 60px;
    margin-top: 25px;
}

.nocombo-add {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(253, 230, 21);
    color: rgb(200, 0, 0);
}
.nocombo-add:hover {
    cursor: pointer;
}

.nocombo-sub-container-fries {
    border-radius: 10px;
    /* position: relative; */
    width: 100%;
    height:fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    margin-top: 75px;
    margin-left: 0%;
    padding-left: 0px;
    @media (width < 450px) {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        margin-top: 100px;
        width: 85%;
        gap: 0%;
    }
}

.small-fries, .medium-fries, .large-fries {
    width: 80%;
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 10px;
    border-radius: 10px;
}