/* .showcart-main-container {
    width: 100%;
    height: 100vh;
} */

.top-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.navigating-showcart {
    margin-top: 20px;
    margin-left: 0px;
    border: 1px solid black;
    width: fit-content;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #E9D134;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #AF2007;
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 500;
    @media (width < 450px) {
        
    }
}
.navigating-showcart:hover {
    cursor: pointer;
    opacity: 0.85;
}

.showcart-main-title {
    font-size: 30px;
    @media (width < 450px) {
        margin-top: 100px;
        margin-bottom: 0px;
    }
}

.place-order-top {
    margin-right: 0%;
    margin-top: 20px;
    width: fit-content;
    height: 35px;
    border: none;
    border-radius: 10px;
    margin-left: 60%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(80, 200, 120);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 500;
    @media (width< 450px) {
        margin-left: 30%;
    }
}
.place-order-top:hover {
    cursor: pointer;
    opacity: 0.85;
}

.showcart-page {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    /* min-height: 100vh; */
    /* overflow-x: hidden; */
    /* height: fit-content; */
    @media (width < 450px) {
        padding-left: 0%;
        padding-right: 0%;
        /* position: relative; */
        /* height: max-content; */
        /* overflow-y: scroll; */
        /* overflow-x: none; */
        /* border: 3px solid green; */
    }
}

.showcart-main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 75px;
    @media (width < 450px) {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
    }
}

.list-products {
    border-radius: 10px;
    width: 100%;;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    align-items: center;
    text-align: center;
    border: 0.5px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white;
    @media (width < 450px) {
        width: 80%;
        border-radius: 5px;
        border: none;
        margin-left: 10%;
    }
}

.showcart-title {
    font-size: 30px;
    font-family: "Barlow semi condensed";
    color: #E9D134;
}

.showcart-subtotal {
    font-weight: bold;
}

.delete-btn {
    height: 60px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    width: 60%;
    background-color: #AF2007;
    color: white;
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: 500;
    /* padding: 10px; */
}

.delete-btn:hover {
    cursor: pointer;
}

.total-price {
    margin-top: 50px;
    font-size: 30px;
    font-family: "Barlow semi condensed";
}

.title-span-container2 {
    margin-top: 150px;
}

.cart-titles {
    font-family: "Barlow semi condensed";
    color: #AF2007;
    margin-top: -10px;
}

.sideborder-container2 {
        position: absolute;
        display: flex;
        flex-direction: column;
        /* margin-left: -10%; */
        left: -185px;
        z-index: -1;
}

.sideborder-right-container2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 85%;
    overflow: hidden;
}

/* .side-border-right2 {
    height: 400px;
    margin-top: 0px;
    opacity: 0.7;
    margin-left: 10%;
} */