.instagram, .facebook, .tiktok {
    width: 60px;
    transform: rotate(345deg);
    margin-left: 50px;
}

.instagram:hover, .facebook:hover, .tiktok:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.socialmedia-container {
    margin-left: 40%;

}

.socialmedia-box {
    margin-top: 100px;
}