.instagram, .facebook, .tiktok {
    width: 50px;
    transform: rotate(345deg);
    margin-left: 50px;
}

.instagram:hover, .facebook:hover, .tiktok:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.socialmedia-container {
    position: relative;
}

.socialmedia-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content:center;
    /* margin-top: 100%; */
    margin-bottom: 0px;
    height: 200px;
    background-color: black;
    border-radius: 7px;
    @media (width < 450px) {
        border-radius: 0px;
    }    
}

.company-text {
    color: #E9D134;
    
    
}