.instagram, .facebook, .tiktok {
    width: 50px;
    transform: rotate(345deg);
    margin-left: 50px;
}

.instagram:hover, .facebook:hover, .tiktok:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.socialmedia-container {
    position: relative;
    /* margin-left: 40%; */


}

.socialmedia-box {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 0px;
    height: 150px;
    /* margin-bottom: 40px; */
    background-color: black;
    border-radius: 7px;
    
}