.title-span-container-aboutus {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.container-body-aboutUs {
    display: grid;
    grid-template-rows: 50% 40%;
    gap: 0px;
    width: 100%;
    @media (width < 450px) {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 50% 50%; /*43% 11% 38%;*/
        margin-top: 0px;
        width: 100%;
    }
}

.photos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    height: 400px;
    margin-left: 10%;
    margin-top: 00px;
    gap: 20px;
    @media (width < 450px) {
        width: 100%;
        height: 130px;
        margin-left: 10px;
    }
}

.photo1 {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    z-index: 1;
    @media (width < 450px) {
        border-radius: 0%;
    }
}

.first-photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    @media (width < 450px) {
        border-radius: 7px;
    }
}

.photo2 {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    z-index: 2;
    margin-left: -25px;
    @media (width < 450px) {

    }
}

.second-photo {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    @media (width < 450px) {
        border-radius: 7px;
    }
}

.photo3 {
    position: relative;
    width: 100%;
    border-radius: 100%;
    margin-top: -100px;
    margin-left: 130px;
    z-index: 3;
    @media (width < 450px) {

    }
}

.third-photo {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    @media (width < 450px) {
        border-radius: 7px;
    }
}

.text-aboutUs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    width: 60%;
    @media (width < 450px) {
        width: 80%;
    }
}

.aboutus-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.idealogo-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 5px;
    border: none;
    height: 300px;
    margin-top: 0px;
    margin-left: 0px;
    @media (width < 450px) {
        gap: 50px;
        margin-top: 50px;
        height: fit-content;
        margin-left: 0%;
        width: 100%;
    }
}

.idea-container {
    height: 100px;
}

.lightbulb {
    width:100px;
    transform: rotate(7deg);
}

.aboutus-second-part {
    display: flex;
    /* border: 1px solid black; */
    width: 100%;
    padding-left: 1.5%;
    margin-top: 50px;
    @media (width < 450px) {
        padding-left: 1.5%;
        padding-right: 1.5%;
    }
}

.rectangle-dividor {
    width: 5px;
    height: 300px;
    background-color: #AD2007;
    /* margin-left: 0px; */
    @media (width < 450px) {
        height: 250px;
    }
}

.rectangle-dividor2 {
    width: 5px;
    height: 270px;
    background-color: #E9D134;
    margin-left: 3px;
    margin-top: 30px;
    @media (width < 450px) {
        height: 240px;
    }
}

.rectangle-dividor3 {
    width: 5px;
    height: 240px;
    background-color: #AD2007;
    margin-left: 3px;
    margin-top: 60px;
    @media (width < 450px) {
        height: 170px;
    }
}

.rectangle-title {
    font-family: "Montserrat";
    font-size: 50px;
    margin: 0;
    font-weight: 500;
    margin-left: 30px;
    @media (width < 450px) {
        margin-left: 3%;
    }
}

.rectangle-text {
    font-family: "Barlow semi condensed";
    font-size: 20px;
    margin-left: 30px;
    text-align: left;
    margin-top: 70px;
    @media (width < 450px) {
        font-size: 18px;
        margin-left: 2%;
        margin-top: 20px;
    }
}

.rectangle-container {
    padding-right: 2%;
    /* border: 1px solid black; */
    width: 50%;
    @media (width < 450px) {
        width: 90%;
        padding-right: 0%;
    }
}

.rectangle-container2 {
    border: 1px solid red;
    width: 40%;
    height: 500px;
    margin-top: -50px;
    @media (width < 450px) {
        width: 93%;
        height: 500px;
        margin-top: 30px;
    }
}

.ourstory-rectangle-container {
    display: flex;
    @media (width < 450px) {
        display: flex;
        flex-direction: column;
    }
}

.image1-container {
    display: flex;
    width: 100%;
    height: 33%;
    border: 1px solid black;
}

.image2-container {
    display: flex;
    width: 100%;
    height: 33%;
    border: 1px solid red;
}

.image3-container {
    display: flex;
    width: 100%;
    height: 33%;
    border: 1px solid green;
}


.box{
	width:25%; 
    height: 250px;
	background-color: white;
	position: relative;
	box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75);
    margin-left: 10%;
    background-image: url("/public/lomos-the-goat2.jpeg");
    background-size: cover;
    /* border: 1px solid black; */
    @media (width < 450px) {
        margin-left: 20%;
        width: 50%;
        height: 200px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
.box:after, .box:before{
	mix-blend-mode:multiply;
	filter:none;
	z-index: -1;
	content:'';
	width:calc(100% + (50px * 2));
	height:calc(100% + (50px * 2));
	position: absolute;
	display: block;
	animation: border 10s ease-in-out infinite;
	transform:translateX(-50px) translateY(-50px);
}
@keyframes border {
  0%, 100% {
    -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
            clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
  }
  50% {
    -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
            clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
  }
}

.box:after{
	animation-delay: -5s;
	background-color: #E9D134;
	clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
}
.box:before {
	background-color: #AD2007;
	  clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
}

.box:hover:after{
	animation-delay: -0.1s;
}
.box:hover:before, .box:hover:after {
    animation-duration: 0.2s;
}