body {
  /* background-image: url("/website-background.JPG"); */
  background-color: #f8f8f8f5;
  padding: 0px;
  width: 100vw;
  /* overflow-x: hidden; */
  
}


html {
  width: 100vw;
  height: 100%;
  /* overflow-x: hidden; */
}

.logo {
  display: flex;
  position: absolute;
  width: 180px;
  margin-top: 5px;
  margin-left: 20px;
  @media (width < 450px) {
    /* position: absolute; */
    width: 135px;
    margin-top: 25px;
  }
}

.dropdown {
  z-index: 100; 
  width: 100vw;
}

.mother-container-socialmedia {
  position: relative;
}

.overlay {
  position: relative;
  width: 100vw;
}
