body {
  background-color: black;
  background-image: url("dist/assets/PHOTO-2024-04-24-08-35-52.jpg");
  background-size:contain;
  background-attachment: fixed;
  background-repeat: repeat;
  opacity: 1;
}
