/* body {
  width: 100%;
  margin: 0px;
  background-color: white;
  background-size:contain;
  background-attachment: fixed;
  background-repeat: repeat;
  opacity: 1;
} */

.logo {
  display: flex;
  position: absolute;
  width: 120px;
  margin-top: 5px;
  margin-left: 20px;
}

.dropdown {
  z-index: 100;
  /* height: fit-content; */
  /* position: absolute; */
  /* display: flex; */
  /* flex-direction: column; */
  /* overflow: scroll; */
  /* display: block; */
  
}

.mother-container-socialmedia {
  position: relative;
  
}
